<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- appender들 모임 -->
	 <appenders>
	 	<!-- console appender 설정 -->
	 	<Console name="TestConsole" target="SYSTEM_OUT">
	 		<!-- layout 설정 -->
	 		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- file appender 설정 -->
		<File name="testFile" fileName = "test.log" append = "false">
			<!-- 기본값으로 layout 설정 -->
	 		<PatternLayout />
		</File>
	 </appenders>
	<!-- logger들 모임 -->
	 <loggers>
	 	<!-- root는 기본적으로 하나가 존재해야 하며 다른 logger들은 여러개 존재 가능 -->
	 	<root level="debug">
	 		<appender-ref ref="TestConsole" />
	 	</root>
	 </loggers>

</configuration>
